In [1]:
install.packages('nflreadr')

Installing package into 'C:/Users/liebe/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

  There is a binary version available but the source version is later:
         binary source needs_compilation
nflreadr  1.4.0  1.4.1             FALSE

installing the source package 'nflreadr'

In [2]:
library(tidyverse)
library(nflreadr)

Warning message:
"package 'tidyverse' was built under R version 4.2.3"
Warning message:
"package 'ggplot2' was built under R version 4.2.3"
Warning message:
"package 'tibble' was built under R version 4.2.3"
Warning message:
"package 'tidyr' was built under R version 4.2.3"
Warning message:
"package 'readr' was built under R version 4.2.3"
Warning message:
"package 'dplyr' was built under R version 4.2.3"
Warning message:
"package 'forcats' was built under R version 4.2.3"
Warning message:
"package 'lubridate' was built under R version 4.2.3"
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [31]:
data <- load_player_stats(2010:2024)

In [34]:
data %>% 
    distinct(player_id, player_display_name, headshot_url) %>% 
    filter(str_detect(player_display_name, 'Vick')) 
    head()

  player_id  player_display_name
1 00-0020245 Mike Vick
2 00-0024394 Lawrence Vickers
3 00-0029547 Vick Ballard
  headshot_url
1 https://static.www.nfl.com/image/private/f_auto,q_auto/league/hrg4riwhpjbijfovsjrk
2 NA
3 https://static.www.nfl.com/image/private/f_auto,q_auto/league/uggql1lgrwzanbof6mfd

ERROR: Error in checkHT(n, dx <- dim(x)): argument "x" is missing, with no default

In [28]:
players <- load_players()

In [42]:
players %>%
filter(str_detect(display_name, 'Vick')) %>% 
colnames()

 [1] "birth_date"               "college_conference"
 [3] "college_name"             "current_team_id"
 [5] "display_name"             "draft_club"
 [7] "draft_number"             "draftround"
 [9] "entry_year"               "esb_id"
[11] "first_name"               "football_name"
[13] "gsis_id"                  "gsis_it_id"
[15] "jersey_number"            "last_name"
[17] "position"                 "position_group"
[19] "rookie_year"              "status"
[21] "status_description_abbr"  "status_short_description"
[23] "team_abbr"                "team_seq"
[25] "height"                   "weight"
[27] "years_of_experience"      "short_name"
[29] "smart_id"                 "headshot"
[31] "uniform_number"           "suffix"

In [11]:
good_players_data <- read_csv('D:/ANALYTICS/whoheplayfornfl/good_players.csv') %>% 
janitor::clean_names()

New names:
• `FantPt` -> `FantPt...3`
• `FantPt` -> `FantPt...16`
• `FantPt` -> `FantPt...18`
Rows: 478 Columns: 22
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): Player, Draft Team, College, Age, Pos, Team, ref_id
dbl (15): Rk, FantPt...3, Round, Pick, Draft Year, From, To, G, GS, #Yrs, PB...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [37]:
good_players_data %>% 
    left_join(
        players %>% select(draft_club, draft_number, draftround, entry_year, headshot),
        by = c('draft_year' = 'entry_year', 'round' = 'draftround', 'pick' = 'draft_number')
    ) %>% 
    filter(is.na(headshot)) %>% 
    head()

  rk  player          fant_pt_3 draft_team round pick draft_year
1 101 Michael Vick    870.2     ATL        1      1   2001
2 107 Roddy White     831.7     ATL        1     27   2005
3 109 Steve Smith Sr. 829.3     CAR        3     74   2001
4 111 Steven Jackson  790.7     STL        1     24   2004
5 114 Andre Johnson   787.5     HOU        1      3   2003
6 116 Vincent Jackson 768.5     SDG        2     61   2005
  college           from to   ⋯ pb fant_pt_16 ppr    fant_pt_18 ppr_g pos
1 Virginia Tech     2010 2015 ⋯ 1  870.2       870.2 15.27      15.27 QB
2 UAB               2010 2015 ⋯ 2  831.7      1324.7  9.14      14.56 WR
3 Utah              2010 2016 ⋯ 1  829.3      1286.3  8.46      13.13 WR
4 Oregon State      2010 2015 ⋯ 1  790.7       970.7 10.40      12.77 RB
5 Miami (FL)        2010 2016 ⋯ 3  787.5      1262.5  8.65      13.87 WR
6 Northern Colorado 2010 2016 ⋯ 2  768.5      1110.5  9.15      13.22 WR
  team      ref_id   draft_club headshot
1 NYJPHIPIT VickMi00 NA         NA
2 ATL       WhitRo00 NA         NA
3 BALCAR    SmitSt01 NA         NA
4 ATLNWESTL JackSt00 NA         NA
5 HOUINDTEN JohnAn02 NA         NA
6 SDGTAM    JackVi00 NA         NA

In [40]:
players %>% 
    count(entry_year)

   entry_year n
1  1996           1
2  1998           4
3  2000           3
4  2001           1
5  2002           7
6  2003          12
7  2004          18
8  2005          34
9  2006          40
10 2007          40
11 2008          69
12 2009          91
13 2010         127
14 2011         160
15 2012         230
16 2013         307
17 2014         374
18 2015         448
19 2016         578
20 2017         804
21 2018         804
22 2019         806
23 2020         641
24 2021         559
25 2022         735
26 2023         752
27 2024         708
28   NA       12401